.film-detail {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.image-container {
  width: 50%;
}

.img-big {
  width: 100%;
  height: auto;
}

.film-information {
  width: 50%;
  padding-left: 30px;
}

.film-title {
  margin-bottom: 10px;
  font-size: 24px;
}

.film-infos-item {
  margin: 5px 0 10px;
}

.sub-itens {
  display: inline-block;
  margin: 3px 3px 0 0;
  padding: 1px 3px;
  border-radius: 2px;
  background-color: #ececec;
  font-size: 10px;
  color: #444;
  text-decoration: none;
}

.film-description {
  width: 100%;
  margin-top: 15px;
  line-height: 20px;
}
