@import '_reset';
@import '_header';
@import '_footer';
@import '_filmsList';
@import '_filmDetail';
.bold {
  font-weight: 700;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.main {
  position: relative;
  flex: 1;
  padding: 40px 20px;
}

.not-fount {
  text-align: center;
}

.back-page {
  display: inline-block;
  margin-top: 15px;
}
