html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, button, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #444;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.bold {
  font-weight: 700;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.header {
  padding: 20px;
  background-color: #444;
  box-shadow: 0px 0px 20px 0px #444;
}

.site-title {
  padding: 20px 10px;
  font-size: 24px;
  color: #FFF;
  text-align: center;
}

.search {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main {
  position: relative;
  flex: 1;
  padding: 40px 20px;
}

.footer {
  padding: 10px;
  background-color: #444;
  box-shadow: 0px 0px 20px 0px #444;
}

.copyright {
  color: #FFF;
  text-align: center;
}

.films-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film-item {
  margin: 20px 35px;
  text-align: center;
}

.film-item a {
  position: relative;
  display: block;
}

.film-item .film-img {
  display: block;
  margin-bottom: 5px;
  box-shadow: 0px 1px 5px 0px #000;
}

.film-item .see-more {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.film-item .see-more p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  color: #FFF;
}

.film-item a:hover .see-more {
  visibility: visible;
  opacity: 1;
}

.film-item p {
  padding: 5px;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}
.image-container {
  width: 50%;
}
.img-big {
  width: 100%;
  height: auto;
}

.film-detail {
  width: 50%;
  padding-left: 30px;
}

.film-title {
  margin-bottom: 10px;
  font-size: 24px;
}

.film-infos li {
  margin: 5px 0 10px;
}

.film-infos li.sub-itens a {
  display: inline-block;
  margin: 3px 3px 0 0;
  padding: 1px 3px;
  border-radius: 2px;
  background-color: #ececec;
  font-size: 10px;
  color: #444;
  text-decoration: none;
}

.film-description {
  width: 100%;
  margin-top: 15px;
  line-height: 20px;
}

.not-fount {
  text-align: center;
}

.back-page {
  display: inline-block;
  margin-top: 15px;
}